{% extends 'layout.html' %}
{% block css %}
<style>
    body {
        background-color: black;
        overflow: hidden;
    }

    .mac-center {
        position: relative;
        top: -320px;
        left: 200px;
        width: 60%;
    }

    .error {
        color: red;
        margin-left: 5px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-1 col-sm-4">
            <div class="card-header bg-transparent text-white text-center">
                <h5>Admin LogIn</h5>
            </div>
            <div class="card" style="background-color: rgb(247, 248, 247);">
                <div class="card-body">
                    <form method="POST" onsubmit="validate()" id="login_form"> 
                        <div class="form-group">
                            <label for="exampleInputUsername">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username" required="required" onchange="valid()">       
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter password" required>    
                        </div>
                        <div class="form-group  margin-right">
                            <input type="image" src="/static/images/forward.png" class="i" width="10%" alt="next" align="right" id="submit" >     
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#login_form').submit(function(e){
            e.preventDefault();
            e.stopPropagation();
            var uname = $('#username').val();
            var pass = $('#password').val();
            // alert(uname + pass);
            if((uname === 'admin' ) && (pass === 'admin@123')){
                alert("Access granted.");
                // $('#submit').after($("<a href='/dash'></a>").click());
                window.location.href = "/dash";
            }
            else{
                alert("Username or passowrd is incorrect!");
            }
        });
    });
    // function validate(){
    //     if( document.myForm.Name.value == "" ) {
    //         alert( "Please provide your name!" );
    //         document.myForm.Name.focus() ;
    //         return false;
    // }
</script>
{% endblock %}