{% extends 'layout.html' %}
{% block css %}


{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="offset-1 col-sm-4">
            <div class="card-header bg-transparent text-center">
                    <div class="card" style="background-color: rgb(247, 248, 247);">
                        <div class="card-body">
                            <h5>A verification link is sent to your registered email. Please click the link and verify 
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}