<!doctype html>
<html lang="en">
<head>
    <title>Summarizer</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/templatemo-style.css">
</head>
<body>
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">
            
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                
                <!-- lOGO TEXT HERE -->
                <div class="navbar-brand brand-name">
                    <a href="#" class="navbar-brand">SUMMARIZER</a><img class="img-responsive2"  src="static/images/logo.png">
                </div>
            </div>
            
            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="/" class="smoothScroll">Home</a></li>
                    <li><a href="/about" class="smoothScroll">About</a></li>
                    <li><a href="/register" class="smoothScroll">Sign-Up</a></li>
                    <li><a href="/login" class="smoothScroll">Sign-In</a></li>
                    <li><a href="/adminlog" class="smoothScroll">Admin</a></li>
                    <li><a href="/" class="smoothScroll">Contact</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-phone"></i> 8953816402</a></li>
                </ul>
            </div>
        </div>
    </section>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/custom.js"></script>       
</body>    

</html>