<!DOCTYPE html>
<html lang="en">
<head>

     <title>Summarizer</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

     <!-- MAIN CSS --> 
     <link rel="stylesheet" href="static/css/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <div class="navbar-brand brand-name">
                         <a href="#" class="navbar-brand" >SUMMARIZER</a><img class="img-responsive2"       
                         src="static/images/logo.png">
                    </div>
                    
                
                    
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About</a></li>
                         <li><a href="/register" class="smoothScroll">Sign-Up</a></li>
                         <li><a href="/login" class="smoothScroll">Sign-In</a></li>
                         <li><a href="/adminlog" class="smoothScroll">Admin</a></li>
                         <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#"><i class="fa fa-phone"></i> 8953816402</a></li>
                    </ul>
               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Text Summarization</h1>
                                             <h3>Our application is designed to generate a concise and precise summary of voluminous texts.</h3>
                                             <a href="#about" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Start your journey with our summarization technique.</h1>
                                             <h3>Our application aims to transform lengthy documents into shortened versions, something which could be difficult and costly to undertake if done manually.</h3>
                                             <a href="#sign" class="section-btn btn btn-default smoothScroll">Know more</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Get to the point.</h1>
                                             <h3>Isn’t that the purpose of a great summary? Great summaries get to the point faster, more completely, and more accurately.</h3>
                                             <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Delivered at Scale</h3>
                              <p>Unlike the limits of manual summarization, Summarizer is powerful enough to create millions of human-quality summaries per day in real time, and capture insights across multiple sources, creating personalized summaries for any user class or device</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Get to know more by reading less!</h3>
                              <p>Get the result in seconds! Cutting edge artificial intelligence technology will process it in real time.</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Never Miss a Thing</h3>
                              <p>Summarization isn’t simply about helping you read more quickly. Effective summarization can help you stay on top of a much broader range of information, ensuring you won’t miss critical insights.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>
    
     
     

     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Start your journey to a better life with text summarization technique.</h2>

                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Summary Generation</h3>
                                        <p>The better version of your information will be generated by extracting the most important parts of it.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>Enjoy Summarizing</h3>
                                        <p>Enjoy your summary, the most important keywords and key phrases.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Summarization Algorithm</h3>
                                        <p>Enjoy your perfect AI-powered summaries. Our unique scientific-based algorithm allows everyone to be more efficient and effective.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

                    <div >
                         <video width="585" height="400" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                           <source src="static/images/Home.mp4" type="video/mp4">
                         </video>
                    </div>
                    

                    <!--   LOGIN
                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         <div class="entry-form">
                              <form action="#" method="post">
                                   <h3>Signup Today</h3>
                                   <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                                   <input type="email" name="email" class="form-control" placeholder="Your email address" required="">

                                   <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                                   <button class="submit-btn form-control" id="form-submit">Get started</button>
                              </form>
                         </div>
                    </div> -->

               </div>
          </div>
     </section>


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="static/images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>       


     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Office</h2>
                              </div>
                              <address>
                                   <p>12/A,<br> Hazratganj, LUCKNOW 226001</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2019 Sumz</p>
                                   
                                  
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>8953816402</p>
                                   <p><a href="summarywebapplication@gmail.com">summarywebapplication@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#">About</a></li>
                                       
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Sign-Up</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/owl.carousel.min.js"></script>
     <script src="static/js/smoothscroll.js"></script>
     <script src="static/js/custom.js"></script>

</body>
</html>