
{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-1 col-sm-4">
            <div class="card-header bg-transparent text-white text-center">
                <h5>Login to access your summarization platform Email</h5>
            </div>
            <div class="card" style="background-color: rgb(247, 248, 247);">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" >
                        <div class="form-group">
                            <label for="exampleInputEmail">E-mail</label>
                            <input type="email" name="mail" class="form-control" id="mail" placeholder="abc.123@gmail.com">
                        </div>
                        <div class="form-group">
                            <input type="image" class="i" width="10%" name="next" id="next" src="/static/images/forward.png" alt="next" align="right">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}