{% extends 'layout.html' %}
{% block css %}
<style>
    .padding{
        padding: 1px;
        margin-top: 8px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-1 col-sm-3">
            <div class="card-header bg-transparent text-center">
                <h5>Options</h5>
            </div>
            <div class="card" style="background-color: rgb(247, 248, 247);">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file">
                            <br>
                            <input class="padding" type="submit" value="Upload">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <form method="POST" enctype="multipart/form-data" action="text_result">          
                <textarea cols="90" rows="15" name="text" id="text">{{content}}</textarea>
                <div clss="row">
                    <div class="offset-5 col-sm-6">
                        <select id="lines" name="lines">
                            {% for i in range(10,100,3)%}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="offset-6 col-sm-7">
                        <input type="submit" value="Submit" id="submit">
                        <input type="submit" value="Reset" id="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>  
</div>
{% endblock %}
{% block js %}
<script>
    $(function (){
        $('#submit').click( function(event){
            event.preventDefault();
            event.stopPropagation();
            var text = $('#text').text()
            var lines = $('#lines').text()
            if (text != ""){
                $$.ajax({
                    type: "POST",
                    url: "/main",
                    data: {
                        txt = text.toString(),
                        lns = lines.toString(),
                    },
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response){
                        console.log(response)
                    }
                });
            }
            else{
                alert("Nothing to summarize")
            }
        })
    })
</script>
{% endblock %}
