{% extends 'layout.html' %}
{% block css %}
<style>
    body {
        background-color: black;
        overflow: hidden;
    }
    
    .mac-center {
        position: relative;
        top: -320px;
        left: 200px;
        width: 60%;
    }
</style>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-1 col-sm-4">
            <div class="card-header bg-transparent text-white text-center">
                <h5>Login to access your summarization platform Email</h5>
            </div>
            <div class="card" style="background-color: rgb(247, 248, 247);">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data"> 
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="mail">Email address</label>
                            <input type="email" name="mail" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyoneelse.</small>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div>
                            <a href="pass" onclick="validation()"> 
                                <img src="/static/images/forward.png" class="i" id="next_image" width="10%" alt="next" align="right">
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/static/images/macbooknew.png" class="i" width="120%" alt="">
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    
    function validation()
    {
        user = document.getElementById("username")
        mail = document.getElementById("mail")
        $(document).ready(function(){
            $('#next').click(function(){
                if ((user=="") && (mail==""))
                {
                    alert("Field is empty!")
                    return false
                }
                else
                {
                    $(document).ready(function(){
                        $('#username').bootstrapValidator({
                            fields: {
                                username: {
                                    validators: {
                                        regexp: {
                                            regexp: /^[a-z\s]+$/i,
                                            message: 'The full name can consist of alphabetical characters and spaces only'
                                        }
                                    }
                                }
                            }
                        });
                    });
                    return true
                }
            });
        });   
    }

</script>
{% endblock %}