{% extends 'layout.html' %}
{% block css %}
<style>
    .picgrid{
        height: 520px !important;
        width: 580px !important;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-image: url('/static/images/pass_image_4.jpg'); */
        background-color: white;
        padding: 0;
        background-position: center;
    }
    .picgrid .box{
        margin:0;
        display: inline-block;
        padding: 0;
        height: 32px;
        width: 32px;
        border:none;
        outline: none;
        background-color: rgba(240, 238, 238, 0);
        border-radius: 50%;
        font-size: .3rem;
        color: rgba(0,0,0,0);
        
    }
    .picgrid .box:hover{
        box-shadow: 0px 0px 5px #fff;
        color: blanchedalmond !important;
        
    }
    .resolution{
        image-resolution: 40dpi;
        height: 80px;
        width: 100px;
        margin: 0px;
    }
</style>

{% endblock %}

{% block body %}
<div id="path" class="text-light" > {{img_path}} </div>  
<div class="container-fluid" id="cbox" >
    <div class="row">
        <div class="col-6 p-0 m-3 center">
            <div class="form-group">
                <div class="picgrid">     
                    {% for i in range(16) %}
                    {% for j in range(16) %}
                    <button class="box text-dark text-center">{{i+1}},{{j+1}}</button>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <form method="POST">
            <div class="form-group  margin-right">
                <!-- <button id="change">change</button> -->
                <input type="image" src="/static/images/forward.png" class="i" width="10%" alt="next" align="right" id="submit" >     
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var pth = $('#path').text();
        $('.picgrid').css("background-image", "url(" + pth + ")");
    });

    $(function () {
        let sequence = new Array()
        $('.box').each(function(index){
            $(this).click(function(){
                if ($(this).hasClass('chosen')){
                    $(this).css({'background-color':'transparent'});
                    $(this).removeClass('chosen');
                    sequence.pop(index);
                }else{
                    $(this).css({'background-color':'olive'});
                    $(this).addClass('chosen')
                    sequence.push(index);
                }
                console.log(sequence)
            });
        });
        $('#submit').click('image', function(event){
            event.preventDefault();
            event.stopPropagation();
            var cleanup = /\"|\'|\)/g;
            if (sequence.length != 0){
                $.ajax({
                    url : '/userpass', // it will be /userpass
                    type : 'POST',
                    data:{
                        'seq'   : JSON.stringify(sequence),
                    },
                    success: function (response){
                        console.log(response);
                    },
                    error: function (error){
                        console.log(error);
                    },
                });
            }
            else{
                alert("You have not selected any point. Please select atleast one point.")
            }
        });
    });
</script>
{% endblock %}

