{% extends 'userlayout.html' %}

{% block css %}
<style>
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: flex;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  .info{
    width: 18rem;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
  }
  
  .contain{
    height:100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
</style>

{% endblock %}
{% block body %}
<div class="sidenav">
  <!-- <a href="/userdash">Dashboard</a> -->
  <a href="/main">New Upload</a>
  <a href="/useraccount">My Account</a>
</div>

<div class="container-fluid">
  <div class="offset-1 row mt-5">
    <div class="offset-1 col-sm-7 border">
      <br>
      <div class="card">
        <div class="card-header">
          
          Uploads
        </div>
        <br>
        
        {% for i in contdetail %}
        <div class="card">
         
          Content : <textarea row="5" cols="4" readonly scroll style="resize:none" class="form-control"> {{ i['Modified_content'] }} </textarea>
          Summary : <textarea row="5" cols="4" readonly scroll style="resize:none" class="form-control"> {{ i['Summary'] }} </textarea>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="offset-8.5 col-sm-4 border">
      <div class="card info" >
        <img class="card-img-top" src="/static/images/user.png" alt="Image">
        <div class="card-body">
          <text class="form-control" type="text" readonly> {{ usrdetail["username"] }} </text>
          <text class="form-control" type="text"  readonly> {{ usrdetail['email'] }} </text>         
        </div>
      </div>
    </div>
  </div>  
</div>

{% endblock %}