{% extends 'layout.html' %}

{% block css %}
<style>
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: flex;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  .info{
    width: 18rem;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
  }

.contain{
  height:100%;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
</style>

{% endblock %}
{% block body %}
<div class="sidenav">
  <a href="#dashboard">Dashboard</a>
  <a href="#newuploads">Upload</a>
  <a href="#myaccount">My Account</a>
  <a href="#signout">SignOut</a>
</div>

<div class="container ">
  <div class="row">
    <div class="offset-1 col-sm-7 border">
      Uploads
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="offset-8.5 col-sm-4 border">
      <div class="card info" >
        <img class="card-img-top" src="/static/images/user.png" alt="Image">
        <div class="card-body">
          <input class="form-control" type="text" placeholder="Name" readonly>
          <input class="form-control" type="text" placeholder="Address" readonly>
          <input class="form-control" type="text" placeholder="E-Mail" readonly>
          <input class="form-control" type="text" placeholder="Phone No." readonly>
        </div>
      </div>
    </div>
  </div>  
</div>

{% endblock %}




